<div class="modal-content">
    <form id="addRate" name="addRate" role="form" ng-submit="vm.onSubmit()"
          class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">Добавить новый тариф!</h4>
        </div>
        <div class="modal-body">
            <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>

            <div class="form-group">
                <label for="title" class="col-sm-4 control-label">Заголовок</label>
                <div class="col-sm-8">
                    <input id="title" name="title" required="required" ng-model="vm.formData.title" class="form-control">
                </div>
                <label for="cost" class="col-sm-4 control-label">Стоимость (руб)</label>
                <div class="col-sm-8">
                    <input id="cost" name="cost" required="required" ng-model="vm.formData.cost" class="form-control">
                </div>
                <label for="Description" class="col-sm-4 control-label">Описание</label>
                <div class="col-sm-8">
                    <textarea id="Description" name="Description" rows="3" required="required" ng-model="vm.formData.Description" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Отмена</button>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>