<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-sm-12">
            <p ng-bind-html="vm.main.content | addHtmlLineBreaks"></p>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>