<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ vm.data.rate.createdOn | date : 'd MMMM yyyy' }}</p>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">И это плати!</h2>
                        </div>
                        <div class="panel-body">
                            <p> Стоимость: {{ vm.data.rate.cost }} рублей </p>
                        </div>
                        <div class="panel-body">
                            <p> {{ vm.data.rate.Description }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>