<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div align="center" class="container">
            <div class="col-md-6 col-sm-8 align-content-center align-center">
                <p class="lead">Не зарегистрированы? <a href="/register?page={{ vm.returnPage }}">Зарегистрируйтесь!</a></p>
                <form class="align-content-center" ng-submit="vm.onSubmit()">
                    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
                    </div>
                    <button type="submit" class="btn btn-default">Вход!</button>
                </form>
            </div>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>