<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div align="center" class="col-md-12">
            <div class="col-md-6 col-sm-12 align-content-center align-center">
                <p class="lead">Уже зарегистрированы? <a href="/login?page={{ vm.returnPage }}">Войти к нам!</a></p>
                <form ng-submit="vm.onSubmit()">
                    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
                    </div>
                    <button type="submit" class="btn btn-default">Зарегистрироваться!</button>
                </form>
            </div>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>