doctype html
html(ng-app="Guide_App")
  head
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .container
          a.navbar-brand(href='/') Repa
      .row
        .container.col-sm-3
          .navbar.navbar-inverse.navbar-fixed-left.navbar-menu
            .container
              .navbar-header
                a.navbar-brand(href='/') Repa
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar

              #navbar-main.navbar-collapse.collapse
                ul.nav.navbar-stacked
                  li
                    a(href='/enrollee/') Абитуриенту
                  li
                    a(href='/') Наши ресурсы
                  li
                    a(href='/') Связаться с нами
                  li
                    a(href='/about/') О нас
        .container.col-sm-9
          div(ng-view)
            block content


    script(src='/angular/angular-1.2.32.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')

    script(src='/app.js')
    script(src='/home/home.controller.js')
    script(src='/common/directives/ratingStars/ratingStars.directive.js')
