<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Главная</a>
            <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/contactUs">Связаться с нами</a></li>
                <li><a href="/about">О нашей компании</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="navvm.isLoggedIn"><a href="/login/?page={{ navvm.currentPath }}">Вход</a></li>
                <li ng-show="navvm.isLoggedIn" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ navvm.currentUser.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navvm.logout()">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>