<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-xs-12">
            <label for="filter">Фильтр по тарифам</label>
            <input id="filter" type="text" , name="filter" , ng-model="textFilter">
            <a ng-show="vm.isLoggedIn" ng-click="vm.popupAddRateForm()" class="btn btn-info pull-right btn-mb">Добавить
                ещё тариф!</a>
            <div class="error">{{ vm.message }}</div>
            <div class="row list-group">
                <div class="container col-xs-12 list-group-item"
                     ng-repeat="rate in vm.data.ratesList | filter : textFilter | orderBy:'createdOn'">
                    <div class="col-xs-8">
                        <h4>
                            <a href="/rate/{{ rate._id }}">{{ rate.title }}</a>
                        </h4>
                        <p class="address">{{ rate.Description }}</p>
                    </div>
                    <div class="col-xs-2">
                        <span class="badge badge-default">{{ rate.createdOn | date : 'd MMMM yyyy' }}</span>
                    </div>
                    <div class="col-xs-1">
                        <a ng-show="vm.isLoggedIn" ng-click="vm.popupEditRateForm(rate)"
                           class="btn btn-info">Изменить</a>
                    </div>
                    <div class="col-xs-1">
                        <a ng-show="vm.isLoggedIn" ng-click="vm.popupDeleteRateForm(rate._id, rate.title)"
                           class="btn btn-info">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>