<div class="modal-content">
    <form id="deleteRate" name="deleteRate" role="form" ng-submit="vm.onSubmit()"
          class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="vm.modal.cancel()" class="close">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 id="myModalLabel" class="modal-title">Удалить тариф {{ vm.rateData.title }}?</h4>
        </div>

        <div class="modal-footer">
            <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Отмена</button>
            <button type="submit" class="btn btn-primary">Удалить</button>
        </div>
    </form>
</div>